root = true

[*]
end_of_line = lf

[*.coffee]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.styl]
indent_style = space
indent_size = 2

[*.jade]
indent_style = space
indent_size = 2

